@import 'normalize';

* {
    font-family: 'Gerbera';
    -webkit-font-smoothing: antialiased;
}

body {
    background: black;
}

p, a, span {
    color: #FFFFFF;
}

.wrapper {
    margin: 0 auto;
    max-width: 1110px;
    &-header {
        display: flex;
        height: 60px;
        justify-content: space-between;
        align-items: center;
    }
}

.header {
    background: rgba(251, 251, 251, 0.5);
    border-bottom: 1px solid #333333;
}

.headerLinks {
    &__link {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        text-decoration: none;
        &:not(:last-child):not(.headerLinks__link-watch) {
            margin-right: 20px;
        }
        &:hover {
            text-decoration: underline;
        }

        &-watch {
            color: #ffffff;
            padding: 10px 24px;
            background-color: #000000;
            border-radius: 5px;
            margin-right: 45px;
        }
    }
    &-middle {
        margin: 0 auto
    }
}

.firstScreen {
    height: 700px;
    background-image: url('img/firstScreenBg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-content: center;
}

.greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    &__img {
        width: 394px;
        height: 217px;
        margin-bottom: 32px;
    }
    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
        margin: 0;
        padding: 0;
        margin-bottom: 25px;
    }
}

.secondScreenWrapper {
    max-width: 810px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    &__row {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 64px;
    }
}

.circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(img/circle.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 180px;
    height: 180px;
    &__title {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
    }
    &__img {
        width: 70px;
        height: 70px;
    }
}

.neurProductWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.neurProductTitle {
    width: 546px;
    height: 170px;
    background-repeat: no-repeat;
    background-image: url('img/outlineNeur.svg');
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    &__title {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
    }
}

.neurProductCols {
    display: flex;
    justify-content: space-between;
    width: 100%;
    &__col {
        width: 335px;
        position: relative;
        z-index: 2;
        top: -3px;
        &-leftBg, &-rightBg {
            background-size: contain;
            background-repeat: no-repeat;
        }
        &-leftBg {
            background-image: url('img/outlineNeurLeftCol.svg');
        }
        &-rightBg {
            background-image: url('img/outlineNeurRightCol.svg');
        }
    }
    &__title {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        margin-top: 28px;
        margin-bottom: 8px;
    }
    &__list {
        padding-left: 27px;
        max-width: 270px;
        margin-bottom: 28px;
    }
    &__p {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        margin-bottom: 16px;
    }
}